* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Arial', sans-serif;

}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:90%;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius:18px;
    text-align:center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

}
.card img{
    width:100%;
    border-radius:12px;
    margin-bottom: 20px;

}
.card h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: hsl(218, 44%, 22%);

}
.card p {
    font-size: 14px;
    color: hsl(220,15%,55%);
    line-height:1.5;
}
footer{
    text-align:center;
    padding: 15px 0;
    font-size: 12px;
}
